@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 10px; 
}

.todo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
}

.todo-items{
    flex: 7;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.todo-list {
    flex: 4;
    margin: 10px;
    height: 400px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.todo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-update-delete{
 display: flex;
 flex-direction: row;
}

.btn {
    padding: 3px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}


.todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-info {
    display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
}

.btn-add {
  background-color: #2ecc71;
  color: white;
  margin: 20px;
  padding: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}
